@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Reset css */
* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: harry;
  src: url('../font/HARRYP__.TTF');
}

.img-header {
  width: 100%;
  margin-bottom: -4px;
}

nav {
  background-color: #19191b;
  margin-bottom: 5px;
}

nav p {
  text-align: left;
  padding: 10px;
  font-family: harry;
  font-size: 4vh;
  color: white;
}

/* conteúdo principal */

.show-items {
  display: grid;
  max-width: 900px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}

span {
  display: block;
  margin: 10px 0;
  color: white;
  background-color: #19191b;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

span:hover {
  background-color: rgb(236, 236, 236);
  color: black;
}

span p {
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;
}

/* footer */

footer {
  background-color: #19191b;
  margin-bottom: -3px;
}

footer p {
  font-family: harry;
  color: white;
  font-size: 3vh;
  text-align: center;
  padding: 5px 0;
}
