@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Reset css */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: harry;
  src: url('../font/HARRYP__.TTF');
}

header {
  margin-bottom: -4px;
  background-color: #151b24;
}

.img-header {
  display: block;
  width: 100%;
  max-height: 500px;
  margin: auto;
  align-items: center;
}

nav {
  background-color: #19191b;
}

nav p {
  text-align: left;
  padding: 10px;
  font-family: harry;
  font-size: 4vh;
  color: white;
}

/* conteúdo principal */

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  height: 1500px;
  padding: 10px;
  margin: auto;
}

.introduction p {
  line-height: 2;
  padding: 10px;
  text-align: justify;
}

.introduction h1 {
  font-size: 4rem;
}

.introduction h2 {
  font-size: 2rem;
}

.characters {
  margin: auto;
  background-color: black;
  border-radius: 0 20px 0 20px;
  padding: 50px 0;
}

.show-items {
  display: grid;
  max-width: 700px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}

span {
  display: block;
  margin: 10px 0;
  color: white;
  background-color: #19191b;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

span:hover {
  background-color: #ececec;
  color: black;
  transform: translate(-5px, -5px);
  box-shadow: 1px 1px 5px #616161;
}

span p {
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;
}

/* section books */

.books {
  max-width: 900px;
  padding: 10px;
  margin: auto;
}

.books p {
  line-height: 2;
  padding: 10px;
  text-align: justify;
}

.books > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.books div {
  padding: 10px;
}
/* footer */

footer {
  background-color: #19191b;
  margin-bottom: -3px;
}

footer p {
  font-family: harry;
  color: white;
  font-size: 3vh;
  text-align: center;
  padding: 5px 0;
}
